<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application android:theme="@style/Theme.SIUPN"
        android:label="SIUPN"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round">

        <activity
            android:name=".splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.SIUPN.Splash">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity
            android:name=".homepage.MainActivity"
            android:exported="false"/>
        <activity android:name=".MenuListActivity"/>
        <activity android:name=".FoodDetailActivity"/>
        <activity android:name=".homepage.ListFakultasActivity"/>
        <activity
            android:name=".homepage.GedungActivity"/>
        <activity
            android:name=".homepage.DetailRuanganActivity"/>


    </application>

</manifest>